:root {
    --main-blue: #0076BE;
    --main-red: #C03145;
}


#cars-top-nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#top-cars-nav-list {
    list-style-type: none;
    padding-left: 2vw;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.cars-top-nav-icon {
    width: 3.5vw;
    height: 3.5vw;
    padding: 1vw;
    color: var(--main-blue)
}

#cars-turners-small-logo {
    width: 3.5vw;
    height: 3.5vw;
    padding: 1vw 2vw ;
}

#cars-hero {
    position: relative;
}

.hero-text {
    position: relative;
    display: flex;
    font-size: 18vw;
    font-weight: bold;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 6vh;

}

.hero-text::after {
    content: '';
    background: url('../../public/public_images/carscropcarspage.jpeg');
    position: absolute;
    z-index: -1;
    background-size: 100vw;
    opacity: 60%;
    width: 100vw;
    height: 100%;
}

#cars-options-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 5vw;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}

.cars-options-item {
    color: white;
    background-color: var(--main-blue);
    width: 24vw;
    height: 10vh;
    text-align: center;
    font-size: 3vw;
    position: relative;
    margin-bottom: 32vh;
    border: 0.5vw solid var(--main-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bolder;
    margin-top: 3vh;
}


/** STYLING FOR CLICKABLE OPTIONS **/

.cars-options-item::after {
    content: '';
    width: 24vw;
    height: 40vh;
    z-index: -1;
    position: absolute;
    right: -0.5vw;
    border: 0.5vw solid var(--main-blue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cars-options-item:hover::after, .cars-options-item:hover {
    border-color: var(--main-red);
    background-color: var(--main-red);
    cursor: pointer;
}



#buy-now-list-item::after {
    background: url('../../public/public_images/buy.jpeg');
    background-size: cover;
    
}

#buy-online-list-item::after {
    background: url('../../public/public_images/buy-online.jpeg');
    background-size: cover;
}

#auctions-list-item::after {
    background: url('../../public/public_images/auction-hamer.jpeg');
    background-size: cover;
}

#locations-list-item::after {
    background: url('../../public/public_images/nzmap.png');
    background-size: cover;
}

#test-drive-list-item::after {
    background: url('../../public/public_images/test-drive.jpeg');
    background-size: cover;
}

#view-list-item::after {
    background: url('../../public/public_images/carPark\ .jpeg');
    background-size: cover;
}



/** CARS PAGE FORM/SEARCH AREA **/

#form-view-selection {
    border: 2px solid var(--main-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    margin: 10vh 0 2vh 10vw;
}

#form-selection-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;

}

#form-selection-left p {
    color: grey;
    font-size: 1.2em;
}

.form-selection-icon {
    font-size: 2em;
}

#form-selection-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form-selection-right select {
    width: 15vw;
    height: 4vh;
    padding: 0 2vw;
}

#car-amount {
    display: flex;
    flex-direction: row;
    font-size: 4em;
    justify-content:flex-start;
    margin-left: 10vw;
    margin-top: 4vh;
    padding: 0;
    gap: 1rem;
}

#car-amount h4 {
    margin: 0;
}

#car-amount-number {
    color: var(--main-blue)
}

#search-form {
    width: 20vw;
    border: 2px solid var(--main-blue);
    background-color: #d6d6d6;
    border-radius: 5px;
    height: 82vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-form-input {
    border: 2px solid var(--main-blue);
    border-radius: 5px;
    background-color: #d6d6d6;
    outline: none;
    width: 16vw;
    height: 4vh;
    margin: 2vh 1vw;
    text-align: center;
}

.half-search-input {
    width: 7vw;
}