:root {
    --main-blue: #0076BE;
    --main-red: #C03145;
}

#header-image-logo {
    display: flex;
    flex-direction: row;
    margin: 5vh 5vw 5vh 5vw;
}

.header-line {
    height: 0.5vh;
    background-color: black;
}

#header-logo {
    margin-top: 3vh;
    margin-bottom: 0;
}

#header-line-1 {
    width: 45vw;
    margin: 2vh 0 3vh 0;
}

#header-line-2 {
    width: 40vw;
    margin: 2vh 4vw;
}

#header-line-3 {
    width: 47vw;
    margin: 2vh 0 2vh 3vw;
}

#car-logo-image {
    width: 50vw;
    height: 30vh;
}

#header-logo {
    width: 40vw;
    height: 15vh;
}

#homepage-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#homepage-header h2 {
    font-size: 3vw;
    text-decoration: underline;
    text-decoration-color: var(--main-red);
    text-underline-offset: 0.5vh;
    text-decoration-thickness: 1vh;
}

#homepage-navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-icon {
    font-size: 10vw;
    color: var(--main-blue);
}

#homepage-details {
    background-color: var(--main-blue);
    padding: 0 100px;

}

#homepage-paragraph {
    color: white;
    font-size: 1.5vw;
}

.scroll-down-arrow {
    font-size: 5vw;
    font-weight: 500;
    color: var(--main-red)
}

#scroll-text {
    color: white;
    text-decoration: underline;
    text-decoration-color: #C03145;
    font-size: 3vw;
    text-underline-offset: 1vh;
}

#homepage-navigation-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7vw;
    margin: 0;
    padding: 0;
    margin-top: 7vh;
    margin-bottom: 7vh;
}


.homepage-nav-text {
    color: white;
    background-color: var(--main-blue);
    width: 38vw;
    height: 12vh;
    text-align: center;
    font-size: 3.5em;
    position: relative;
    margin-bottom: 15vh;
    border: 0.5vw solid var(--main-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bolder;
    margin-top: 3vh;
}

.homepage-nav-text::after {
    content: '';
    width: 38vw;
    height: 35vh;
    z-index: -1;
    position: absolute;
    right: -0.5vw;
    border: 0.5vw solid var(--main-blue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#cars-homepage-nav::after {
    background: url('../../public/public_images/carPark\ .jpeg');
    background-size: cover;
}

#finance-homepage-nav::after {
    background: url('../../public/public_images/finance.jpeg');
    background-size: cover;
}

#auction-homepage-nav::after {
    background: url('../../public/public_images/auction.jpeg');
    background-size: cover;
}

#contact-homepage-nav::after {
    background: url('../../public/public_images/contact.jpeg');
    background-size: cover;
}

#terms-homepage-nav::after {
    background: url('../../public/public_images/t&c.jpeg');
    background-size: cover;
}

#insurance-homepage-nav::after {
    background: url('../../public/public_images/insurance.jpeg');
    background-size: cover;

}


#placeholder {
    height: 10vh;
}
